div {
    background-color: rgb(0, 0, 97);
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    font-family: sans-serif;
    height: 100vh;
    grid-gap: 10px;
    /* definiendo la distribución del grid: */

}

