main > * {
    background-color: rgb(0, 0, 97);
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main {
    display: grid;
    font-family: sans-serif;
    height: 100vh;
    grid-gap: 10px;
    /* definiendo la distribución del grid: 
    grid-template-columns: repeat(8, minmax(60px, 150px));
} */
/* 8 columnas con un patrón de dos (30px y minimo 10% y máximo flexible (1fr)*/
/* main {
    display: grid;
    font-family: sans-serif;
    height: 100vh;
    grid-gap: 10px;
    /* definiendo la distribución del grid: 
    grid-template-columns: repeat(4, 60px minmax(10%, 1fr));
} */

/* 8 columnas con un tamaño mínimo determinado por el contenido*/
/* main {
    display: grid;
    font-family: sans-serif;
    height: 100vh;
    grid-gap: 10px;
    /* definiendo la distribución del grid: 
    grid-template-columns: repeat(8, minmax(min-content, 1fr));
} */
/* 8 columnas con un tamaño máximo y mínimo determinado por el contenido*/
main {
    display: grid;
    font-family: sans-serif;
    height: 100vh;
    grid-gap: 10px;
    /* definiendo la distribución del grid: */
    grid-template-columns: repeat(8, minmax(min-content, max-content));
}